[2019-01-26 05:47] kevinelliott opened #1 "How to access the component from inside of received()?"
I would like to call methods defined in the component that subscribed to the channel. How can I access `this.something()` from the `received(data)` event handler?

[2019-01-26 07:16] mclintprojects commented on #1
Hello @kevinelliott! What version of the library are you using?

[2019-01-30 21:12] kevinelliott commented on #1
Hi @mclintprojects ... yes, I'm using `1.2.4`.

[code]

[2019-01-31 04:48] mclintprojects commented on #1
@kevinelliott I just checked and it works. You should be able to do this.something() and have it work just fine. Can I please see a snippet of your code?

[code]

That's a snippet of my code and it works fine.

[2019-03-22 18:41] PaulRHanson316 opened #2 "Not Working - Subscribing to a channel with a dynamic name"
Hello,

I've added actioncable-vue to my project. All is excellent! Just one detail that has me stumped.

Example 3. Subscribing to a channel with a dynamic name.
https://github.com/mclintprojects/actioncable-vue#3-subscribing-to-a-channel-with-a-dynamic-name

I've defined a computed method for the channel name to use in the channels: definitions. It seems the computed method is not available. [th

[2019-03-22 20:49] mclintprojects commented on #2
Hmm. I just noticed that I never wrote tests for that feature. Also, you're right. It doesn't work. I'll try to find a fix and get back to you as soon as I do.

[2019-03-22 20:54] PaulRHanson316 commented on #2
@mclintprojects Thank you! I look forward to your solution! I like what you've put together.

Looks like you do freelance work. What's your favorite kind of work? Are you available?

[2019-03-22 20:55] mclintprojects commented on #1
Hi @kevinelliott, I'm closing this issue because everything seems to be in order. Let me know if otherwise.

[2019-03-22 20:55] #1 closed

[2019-03-22 21:06] mclintprojects commented on #2
@PaulRHanson316 I think the solution is to create a variable to hold your Vue instance and then use to that access the computed property.

It'd look something like this:
[code]

Try that and let me know if it works so I'll update the README.

[2019-03-22 21:09] mclintprojects commented on #2
@PaulRHanson316 My favourite kind of work in order of preference: Vue.js (Frontend) > Kotlin (Mobile) > Rails (Backend). Yes, I'm currently available.

[2019-03-22 21:30] PaulRHanson316 commented on #2
I'm not getting it to work. Seems it might have to do with the scope at the point it's defining the channels key. Inside the channel methods the scope access works great for the computed methods.

[2019-03-22 21:31] PaulRHanson316 commented on #2
For vue.channelId, vue is not defined.

[2019-03-22 21:39] PaulRHanson316 commented on #2
Wait! I got it!

I moved the channels definition from the component to app.js and referenced window.store to get the course id from the store.

Thank you!

[code]

[2019-03-22 21:42] PaulRHanson316 commented on #2
How are you with HTML and CSS to make your VUE apps look great? Do you have any sample work I could check out?

[2019-03-22 22:56] mclintprojects commented on #2
@PaulRHanson316 Hmm. Interesting. I don't think dynamic channel names will work then so I'll take it out of the README. I'm glad you managed to get it to work anyway.

[2019-03-22 22:59] PaulRHanson316 commented on #2
Dynamic channels are working GREAT! I think you should leave it in. At
least, I really need a way to create channels that are unique per
activerecord model. This is great. Good job!

On Fri, Mar 22, 2019 at 3:56 PM Mbah Clinton <notifications@github.com>
wrote:

--
Paul Hanson
Business Automation Software Developer

[2019-03-22 22:59] mclintprojects commented on #2
I think I'm pretty great at HTML + CSS. Here are a few of my handiworks.
1. https://ideabag2.netlify.com/ (VUE)
2. https://present-sir.herokuapp.com/ (VUE)

Also, you can check out my CodePen for other cool pens I wrote: https://codepen.io/mclint_/#

[2019-03-24 08:03] #2 closed

[2019-10-04 00:11] rokumatsumoto opened #3 "Actioncable 6.0 support"
In the future version of this library, will we see Actioncable 6.0 support?

Thanks!

[2019-10-05 08:15] mclintprojects commented on #3
Hi @rokumatsumoto ! What changed in ActionCable 6.0 that isn't currently supported by this library?

[2019-10-05 09:27] rokumatsumoto commented on #3
Hi @mclintprojects.
The new rails app comes with `@rails/actioncable 6.0.0` version. I can't answer your question but your tests should be working when `actioncable 5.2.2` dependency upgraded to  `@rails/actioncable 6.0.0` with a new version.

Rails 6.0 Action Cable release notes
https://edgeguides.rubyonrails.org/6_0_release_notes.html#action-cable

Action Cable 6.0 release notes (detailed)
https

[2019-10-05 10:49] mclintprojects commented on #3
Ahh, I see. Thank you. I'll update and publish a new version now.

[2019-10-17 14:30] rokumatsumoto opened #4 "Calling subscribe and unsubscribe methods multiple times"
**Describe the bug**
I have a download button component on a web page. This page will be the most visited page. You can think it's a product page so I need to use my resources very efficient.

When a user clicks the download button, the server responds with a URL or calls the download service (trigger a background job) and responds with 200. A spinner icon appears on the download button, so the us

[2019-10-17 15:40] rokumatsumoto commented on #4
Fix for now (Code smell)

[code]

[2019-10-17 19:41] mclintprojects commented on #4
Hey, @rokumatsumoto! I have only two questions to help ascertain that the fix actually needs to happen in actioncable-vue.

Is your download channel broadcasting the download URL back to a specific user on your product page or does it broadcast the download URL to the all the users currently on the product page and the user determines if the download URL is for them? If yes to the latter, is that

[2019-10-18 15:28] rokumatsumoto commented on #4
Hi, @mclintprojects! Download URL is available for all registered users. URL is the same for all users who want to download product info. In the following scenarios, users will subscribe to `DownloadChannel` when they click the download button.

1. A newly created product has not yet had a download URL. If the user clicks the download button on that product page, download service will be invoked,

[2019-10-19 07:56] mclintprojects commented on #4
Hey, @rokumatsumoto! Thanks for getting back to me. I now understand what you want to do. Your use-case made me realize that I never even added a way to re-subscribe if a user intentionally unsubscribed. I'll add it in a update soon.

[2019-10-19 18:24] mclintprojects commented on #4
Hi, @rokumatsumoto. This should be fixed now. Update to v1.4.1 and let me know how it goes.

[2019-10-19 18:24] #4 closed

[2019-10-22 08:54] rokumatsumoto commented on #4
Hi, @mclintprojects. Sorry for the late response. I updated the library to v1.4.1, now it's working seamlessly.

By the way, I'm using this config.

[code]

When using 1.3.0, I was seeing these log messages in the console.

[code]

Now I see these messages.

[code]
Should the log messages also record the `unsubscribe` method?

[2019-10-23 09:23] mclintprojects commented on #4
Hi, @rokumatsumoto! I just realized I forgot to add a log statement when unsubscribing. I'll fix it and publish the patch on NPM as soon as I can.

[2019-10-23 19:15] bruno-b-martins commented on #4
Thank you for the fix! I was wondering why couldn't I re-subscribe to a channel and starting to dig into your code 😝

[2019-10-24 05:41] rokumatsumoto commented on #4
Thanks, @mclintprojects.

Should I disconnect the client from Action Cable when they unsubscribed? (for resource efficiency) If your answer yes, how can I do that on actioncable-vue?

[2019-10-24 06:37] mclintprojects commented on #4
@rokumatsumoto I just published a patch (v1.4.2) that adds the log statement when you unsubscribe.

No, you don't need to. If you unsubscribe from a channel, the resources you'll still be using are negligible. Think of it as if you have an iron plugged into a socket that's turned off. You're not wasting any electricity. Also, it's probably quicker to get back to using the iron because it's already

[2019-10-25 03:11] nishihara-tm opened #6 "Dynamic channel names in Nuxt.js"
**Describe the bug**
Hello,

I've added actioncable-vue to my project. All is excellent! But one problem has just been up.
Subscribing to a channel with a dynamic name.

I'm currently using Nuxt.js with the version of 2.3.4 and here's the code I've written, which trying to use dynamic parameter with routes for channel ID

[code]
But they said this is not defined.
I tried with computed method eithe

[2019-10-25 13:20] nishihara-tm commented on #6
Hi @mclintprojects !! Thank you for your reply!!
I tried as README says, but when I tried to run the code, they said window is not defined and I don't understand why.
[code]
If you have any good idea about how this might work, I would be really appreciated!

[2019-10-25 13:34] mclintprojects commented on #6
@nishihara-tm I think the `window` global object does not exist in NuxtJS. Do you know what the equivalent of it is in NuxtJS?

[2019-10-25 13:42] nishihara-tm commented on #6
@mclintprojects That's what I thought too.
Like you said, window global object does not exist in Nuxt JS.
Usually I managed to approach the problem with a solution like this, and works fine in most cases.
[code]
But in this case, When I tried to use "this" inside of channel, "this" is not defined as well.
Therefore, I have no idea what to do about this......

[2019-10-25 13:47] mclintprojects commented on #6
@nishihara-tm If there's no mutable global object in NuxtJS I don't think dynamic channels will work there. I'll try to do some more research. If you manage to find a fix before I do, kindly let me know.

[2019-10-25 13:49] nishihara-tm commented on #6
@mclintprojects  Thank you for your kindness!

[2019-10-25 14:03] mclintprojects commented on #6
Hi! @nishihara-tm. I just figured it out. It's a bit hacky but it works. `process` is global and mutable. Before you navigate to the page with the dynamic channel set the channelId with `process.global = {channelId: 5};`. You can use it later like `[process.global.channelId]: {}`.

Let me know how it goes.

[2019-11-04 19:31] QuantumGeordie commented on #6
i don't think this is a Nuxt thing. more like trying to use the knife before it is made. i'm having a hard time getting a way to define the channel dynamically because no variables/values are available at the time the channels are defined (the window, process.global, etc.)

i do have the channel definitions in the same file/component as the subscriptions that happen at mount (at which point the dy

[2019-11-04 21:08] mclintprojects commented on #6
@QuantumGeordie I am currently thinking of a way to implement dynamic channels. If I figure it out, I'll update and let you guys know.

Also, yes, people are using the feature but it doesn't seem to be working for Nuxt.JS users.

What environment are you working in that doesn't have `window` or `process`?

[2019-11-04 21:22] QuantumGeordie commented on #6
its not that it doesn't have `window` or `process`. it is that the values have not been set when it reads/evaluates/configures the channels definitions.

i can see in beforeCreate() or mounted() the correct values. but in
[code]
it has not been set yet.

[2019-11-18 19:57] #6 closed

[2019-11-18 20:07] mclintprojects commented on #6
@nishihara-tm, @QuantumGeordie I have finally implemented support for channels with dynamic names. Kindly take a look at the README for how to go about using it.

[2020-02-08 23:52] joeczucha opened #8 "Using in Vue store"
Apologies if this is obvious but is there any way to use this within a Vuex store? I tried including it in the same way but I was just getting `this.$cable is undefined` message... but I can't figure out why. Thanks!

[2020-02-09 00:04] mclintprojects commented on #8
Hi @joeczucha. I never implemented the ability to use it in a Vuex store because I didn't think anyone would use it that way. Now however, I know I should. I'll try to spend Sunday working on it.

[2020-02-09 08:37] mclintprojects commented on #8
Hi @joeczucha. Just fixed this. Kindly update the lib to v1.6.0 then take a look at the new README to know how to set it up.

[2020-02-09 14:06] joeczucha commented on #8
@mclintprojects Thank you so much for doing that, I really appreciate it. My plan is to just keep all the websocket logic in the store (like I used to do with the API logic) and then just let everything else render from there... should keep it nice and tidy.

I'll have a look this afternoon, thanks again Clinton!

[2020-02-11 01:24] joeczucha commented on #8
Sorry @mclintprojects, I've tried adding it as per the readme but I'm getting the following message in my console `TypeError: h.prototype is undefined`. I've double checked the ordering etc. and all seems fine.

Minimal reproduction:

**main.js**

    import Vue from "vue";
    import ActionCableVue from 'actioncable-vue';
    import App from "./App.vue";
    import store from "./store";

    Vue.

[2020-02-11 06:48] mclintprojects commented on #8
Hi, @joeczucha! It turns out that `Vuex.Store` is an object. Owing to that, it's impossible to inject `$cable` into its execution context. Sorry, your use-case won't be possible to implement.

[2020-03-19 05:07] tongvantruong opened #9 "Error: Subscription class not found: "ChatChannel""
**Describe the bug**
I followed the installation to set up:
1. `yarn add actioncable-vue`
2. app.js
[code]

3. Live.vue component
[code]

Result =>
1. On Browser console:
[code]
2. On backend logs
[code]

**Expected behaviour**
I should see the logs on the console:
[code]

**Edit**
My url is: http://localhost:3000/live
router.js:
[code]

[2020-03-19 06:47] mclintprojects commented on #9
Can I see the `ChatChannel`class from your backend?

[2020-03-19 07:35] tongvantruong commented on #9
Hi, thanks for your checking.

I didn't know that I need to create a ChatChannel class. Can you teach me how to do it? Where should I store the class?

[2020-03-19 07:45] mclintprojects commented on #9
Kindly follow this tutorial > https://edgeguides.rubyonrails.org/action_cable_overview.html. It'll explain how ActionCable works.

`ActionCable-Vue` is just a simple Vue wrapper that makes working with your ActionCable server much more delightful. You'll still have to do the work to set up your server to correctly respond to connections and messages.

[2020-03-19 08:15] tongvantruong commented on #9
It works well. Thank you very much. Very awesome and simple to use. <3

[2020-03-19 08:15] #9 closed

[2020-03-27 22:00] bo-oz opened #10 "Any plans on making this work with JWT instead of user cookies?"
I found a fork on Github that adds functionality to make use of JWT to connect to Rails ActionCable. Any plans on incorporating this into the codebase and/or create your own functionality?

This is the repo that embedded JWT: https://github.com/requnix/actioncable-vue-jwt#readme

Thanks!

[2020-03-28 00:36] mclintprojects commented on #10
I'll add that over the weekend.

[2020-03-28 09:50] bo-oz commented on #10
Cool, that would be really nice! I ended up solving it by disabling auto-connect and resetting the `_connectionUrl` just before I create the subscription. I'm now passing the JWT token as a GET parameter, but that just feels a bit insecure. It would be great to have a more rigid way, by setting custom header or using a POST variable (is that even possible with WS?).

Let me know if there is anythi

[2020-03-28 15:27] mclintprojects commented on #10
Just added this. Kindly update to v1.7.0 and let me know how it goes.

[2020-04-01 13:48] Buk1m commented on #10
I don't believe what you did is working.
[Forked version](https://github.com/requnix/actioncable-vue-jwt/blob/master/src/cable.js#L1) has overridden `actioncable` dependency.
He added token variable to consumer [here](https://github.com/requnix/actioncable-vue-jwt/blob/master/src/actioncable.js#L502)

and then appending it [here](https://github.com/requnix/actioncable-vue-jwt/blob/master/src/actio

[2020-04-01 16:35] mclintprojects commented on #10
Thanks, @Buk1m! I'll look into this.

[2020-04-01 16:40] Buk1m commented on #10
According to [actioncable documentation](https://guides.rubyonrails.org/action_cable_overview.html#connect-consumer)
One can already pass a function instead of string to dynamically resolve url. So i think that you only need to change validation for `connectionUrl` to string or function -
[my fork](https://github.com/Buk1m/actioncable-vue/commit/a74fedfee4038fb23fd236ee921bbbd46faab1b0#diff-990bac

[2020-04-01 16:54] mclintprojects commented on #10
Thanks for helping out. I'll check that your patch works and if it does I'll merge it in.

[2020-04-01 17:18] mclintprojects commented on #10
Should be all good now. Thanks again, @Buk1m!

[2020-04-01 17:18] #10 closed

[2020-04-11 06:29] tititoof opened #14 "Nuxtjs Typescript"
**Describe the bug**
No logger and no channel functions used in Component

**To Reproduce**
Using NuxtJS with Typescript
My components with 'vue-property-decorator'

**Expected behaviour**
I've installed actioncable-vue in my nuxtjs app (frontend and backend separated)
Like in description, I configure actioncable-vue with nuxtjs
In my component, I create a subscription to a "Contact channel"
But w

[2020-04-14 09:29] mclintprojects commented on #14
Hi @tititoof! Did you correctly follow the setup instructions in the README? Please double-check and if you're still having the issue we can hop on a Zoom call and I'll help investigate.

All my tests are passing so I don't think I broke something with my latest release. It might be your setup either client or server-side.

[2020-04-14 13:18] tititoof commented on #14
Hi @mclintprojects ,
I will check my settings
Thanks for helping ;)

[2020-04-17 05:02] brendon opened #15 "A callback for when the global connection is dis/established"
**Is your feature request related to a problem? Please describe.**
I'd like to indicate to the user when the WebSocket connection goes down (and also prevent some actions).

**Describe the solution you'd like**
I'd imagine being able to specify the callbacks (connect and disconnect) in the configuration object?

**Describe alternatives you've considered**
There doesn't seem to be any other way to

[2020-04-17 05:13] brendon commented on #15
Looking closer, I don't think `action_cable` provides any transparency into the overall connection, only to individual subscription connections. A bit of a shame, but nevermind.

I suppose one could use a kind of dummy global subscription and use the callbacks in that.

[2020-04-17 06:45] brendon commented on #3
Hi there, I was wondering if you could release a new version with actionable 6 as the dependency?

https://github.com/rails/rails/blob/v6.0.2.2/actioncable/CHANGELOG.md

[code]

The only change that might need to be made is from the CHANGELOG:

[2020-04-17 08:32] mclintprojects commented on #15
Yes. It's why I went with Node.js & socket.io for a Websocket implementation where I needed to be aware of client or server disconnection.

[2020-04-17 08:33] mclintprojects commented on #3
Yikes. I thought I updated it. Turns out I didn't and I just realized why. I'll update now.

[2020-04-17 10:20] brendon commented on #3
Thanks @mclintprojects, looking forward to it! :D

[2020-04-17 10:21] #15 closed

[2020-04-19 21:48] brendon opened #16 "Provide the ability to reconnect (in the case of reauthentication)"
**Is your feature request related to a problem? Please describe.**
Currently I can't see a way to ask the connection to close and then reopen a new connection (using a potentially updated cookie) in the case that ActionCable was connected before a user logged in and needs to be reconnected to take into account a users credentials once they log in.

**Describe the solution you'd like**
Exposing the

[2020-04-20 07:28] tititoof commented on #14
That's me sorry for disturb :)

[2020-04-20 07:28] #14 closed

[2020-04-20 11:26] mclintprojects commented on #3
@brendon @rokumatsumoto Hi guys! I just upgrade the library to 6.0.0, tests are passing and everything looks good but I was hoping you guys could try it out and confirm that idea everything looks good before I merge to master and publish to NPM.

Just download [this](https://github.com/mclintprojects/actioncable-vue/blob/mc/upgrade/dist/actioncablevue.js) and add it to your projects and let me kno

[2020-04-20 11:45] mclintprojects commented on #16
Can you please elaborate further what you mean by this?

Also, what would you like to have in the exposed connection object?

[2020-04-20 23:24] brendon commented on #16
Hi @mclintprojects, regarding subscriptions, I'm not sure if they'd re-subscribe upon reconnect. I assume they probably would since that is what happens when the network goes away and comes back.

For a connection object, the ability to close, open, and reopen. It'd just basically be exposing the connection from `action_cable`: https://github.com/rails/rails/blob/master/actioncable/app/javascript/

[2020-04-21 00:05] brendon commented on #3
Hi @mclintprojects, I've just tried this out and it works well as far as my use case goes :)

[2020-04-21 02:19] #3 closed

[2020-04-22 08:31] mclintprojects commented on #16
Hi @brendon! I just pushed a new [build](https://github.com/mclintprojects/actioncable-vue/blob/mc/expose-connection/dist/actioncablevue.js) to the repository. Kindly test that the `disconnect` and `connect` methods available on `this.$cable.connection` work as expected. Also, check if re-connection automatically happens for existing subscriptions and if not I'll add code to manually do it.

[2020-04-22 23:14] brendon commented on #16
Hi @mclintprojects, thank you so much for working on this.

I'm getting an error:

[code]

It seems like this._cable isn't set there?

[2020-04-22 23:19] mclintprojects commented on #16
You need to have connected at least once before `this. _cable` will be defined. To connect just create a subscription or do not set `connectImmediately` during setup to false.

Is that an incorrect implementation?

[2020-04-22 23:36] brendon commented on #16
By default I have `connectImmediately` as false but I tried removing that and still get the same trouble. I have an active cable connection running on the page and a couple of subscriptions too. Very strange. Let me know what else you want me to look into :)

[2020-04-22 23:42] brendon commented on #16
I'm no js-pro but is `this` bound correctly here?:

[code]

[2020-04-23 07:56] mclintprojects commented on #16
Yes. It seems to be. I wrote tests to check for that. I've pushed a new [build](https://github.com/mclintprojects/actioncable-vue/blob/mc/expose-connection/dist/actioncablevue.js). Please try that too.

[2020-04-23 08:43] brendon commented on #16
Certainly a strange one. I've tried your new commit on the branch and am getting `TypeError: this._connect is not a function` on calling connect.

via this:
[code]

`disconnect()` does nothing and raises nothing, but that's just because of the missing `_cable` object. The actual web socket continues to be open and pinging.

Hope that helps :)

[2020-04-23 08:52] mclintprojects commented on #16
Ahh. Now I know the context was not properly bound. I think I've fixed it now. Please try the latest [build](https://github.com/mclintprojects/actioncable-vue/blob/mc/expose-connection/dist/actioncablevue.js)

[2020-04-23 09:13] brendon commented on #16
That works perfectly! :) It reconnects and resubscribes too the appropriate channels also.

You just have to remove the `console.log()`

I'm also not sure you'll need the guards you added: `if (this._cable)`. Perhaps you need the one that connects for the first time in the case of auto connect being false? Hard to say.

[2020-04-23 09:25] mclintprojects commented on #16
Yeah. I think the guards are needed especially for connect. It's possible that someone might set `connectImmediately` to false during setup. For disconnect, maybe not that necessary but better to be safe in case someone does not connect before attempting to disconnect.

I'll update the README and publish a new version to NPM today. Thank you for your help.

[2020-04-23 09:25] #16 closed

[2020-04-23 09:32] brendon commented on #16
Thanks @mclintprojects. This is the best open source interaction I've had in a long time :D

[2020-04-24 08:19] z0dz0dz0dz0d opened #19 "Nuxt.js + actioncable-vue"
**Describe the bug**
I'm having an issue getting actioncable-vue to work with Nuxt.js As for my Nuxt.js setup, I'm using it with Typescript support. I followed the steps described specifically for Nuxt.js (updating nuxt.config.js & adding plugin), however, when I start the application, the issue I get says `You may need an appropriate loader to handle this file type, currently no loaders are confi

[2020-04-24 08:44] mclintprojects commented on #19
Ahh. Interesting. Give me a few minutes to read up on loaders. I'll publish a new version that you can test in your project and let me know if the bug is fixed.

[2020-04-24 08:53] mclintprojects commented on #19
@z0dz0dz0dz0d Please try this [build](https://github.com/mclintprojects/actioncable-vue/blob/nuxt-fix/dist/actioncablevue.js) and let me know if it works.

[2020-04-24 09:53] z0dz0dz0dz0d commented on #19
@mclintprojects thank you very much for such a quick answer!

Unfortunately, the fix didn't help - I've replaced content of `actioncablevue.js` and `rollup.config.js`.

[2020-04-24 10:47] mclintprojects commented on #19
@z0dz0dz0dz0d Kindly try [this](https://github.com/mclintprojects/actioncable-vue/blob/nuxt-fix/dist/actioncablevue.js) too.

[2020-04-24 10:59] mclintprojects commented on #19
I just created a test Nuxt project locally and that build works. I'll publish a new build to NPM now. Thanks for your help!

[2020-04-24 11:50] z0dz0dz0dz0d commented on #19
I just tried pulling the latest package (confirmed its 2.1.1) and it didn't work. I've also tried to manually update built, that also didn't work.

[2020-04-24 17:52] mclintprojects commented on #19
That's really weird because I created a brand new Nuxt project and tested that it works correctly.

Is there anything non-default about your Nuxt project?

[2020-04-24 18:08] z0dz0dz0dz0d commented on #19
Nothing particular. It uses Vuetify and Typescript.

[2020-04-25 02:44] mclintprojects commented on #19
Whew! Finally fixed this. Please update to v2.1.2.

[2020-04-25 02:44] #19 closed

[2020-04-28 23:31] Jinara opened #21 "I can not access to 'this' context in the channelName computed method."
I can not access to 'this' context in the channelName computed method.

**To Reproduce**
Steps to reproduce the behaviour:
I have a VueJS app, I added the follow in my  main.js file

[code]
Then I created a component like this:
[code]

When I try to get `this.room` it return 'Undefined'

**Expected behaviour**
Like the example 3, I would like to pass `this.room` like channel name.

I'm using the l

[2020-04-29 07:59] mclintprojects commented on #21
Hi @Jinara! I just fixed this. Kindly update to v2.1.3.

[2020-05-13 01:25] Petercopter commented on #21
@mclintprojects Similar problem here. I've got a component in a loop, and `this.id` always returns the value of the last item in the loop. It seems like the channels method is not properly maintaining local context.

[code]

[code]

[2020-05-13 01:31] mclintprojects commented on #21
Ahh. It seems like I did not properly understand this issue. I do now and I'll look into publishing a fix as soon as I can.

[2020-05-13 01:37] Petercopter commented on #21
@mclintprojects you are the freaking man. Thank you so much, it works great otherwise!

[2020-05-13 04:08] mclintprojects commented on #21
@Petercopter Kindly use this [build](https://github.com/mclintprojects/actioncable-vue/blob/multi-cc/dist/actioncablevue.js) directly in your project and let me if it fixes you and @Jinara's issue.

[2020-05-13 05:59] Petercopter commented on #21
@mclintprojects Yep! That did the trick. `this` is now referring to the correct context while in a loop. Thanks for the quick turnaround.

[2020-05-13 07:39] mclintprojects commented on #21
Alright, thanks! I'll publish a patch to NPM in a few.

[2020-05-13 07:54] #21 closed

[2020-05-13 16:22] Petercopter commented on #21
@mclintprojects `2.1.4` did the trick, thank you!

[2020-05-29 11:54] lennoximus opened #24 "Question: A way to pass JWT not in a query params?"
Hello there, creators. Awesome package, you've made, love it.
 I was just wondering if there is any way to send JWT, not in the server query, but either in headers or by cookies? Also, was looking through the sources and somewhat related [issues](https://github.com/mclintprojects/actioncable-vue/issues/10), though found nothing useful, unfortunately. Any leads? Maybe I'm missing something or not u

[2020-05-29 13:02] mclintprojects commented on #24
Hi @lennoximus. I don't think this is possible. This package uses actioncable.js under the hood and from this [StackOverflow](https://stackoverflow.com/questions/35501931/send-auth-token-for-authentication-to-actioncable) answer it doesn't seem possible.

[2020-05-29 13:04] #24 closed

[2020-05-29 18:21] RealRobin-com opened #25 "Support reading channels from somewhere other than this.$options for Vue Class syntax"
**Is your feature request related to a problem? Please describe.**
I would like to be able to define my channels and callbacks within my class body instead of the @Component decorator from [Vue Class Component](https://class-component.vuejs.org/)

**Describe the solution you'd like**
a sentinel value like `channels` read from a class level method instead of `this.$options`

**Describe alternatives

[2020-05-30 04:19] #25 closed

[2020-05-30 04:21] mclintprojects commented on #25
@RealRobin-com I just published v2.2.0 that adds your feature. Kindly update and let me know how it goes.

[2020-05-30 07:05] RealRobin-com opened #27 "Property '$cable' does not exist on type 'ConversationComponent'."
**Describe the bug**
There is not a typescript definition for this library. While the code works, typescript will show errors in the build

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a Vue project with typescript enabled
2. Install and setup actioncable-vue
3. reference `this.$cables` in a component
4. See error

**Expected behaviour**
* no error message
* code completion

**Scre

[2020-05-30 07:06] RealRobin-com commented on #25
Looks good and works great. Thanks for the extremely quick feature.

[2020-05-30 07:25] mclintprojects commented on #27
Kindly share more code (ideally of the whole component). I think the issue [here](https://stackoverflow.com/questions/53335662/use-plugin-given-vue-constructor-for-component-inheritance-with-vue-component-cl) might be similar to yours.

[2020-05-30 07:26] mclintprojects commented on #27
@RealRobin-com I don't know enough Typescript. Can you help contribute the types for the package?

[2020-05-30 07:29] mclintprojects commented on #27
You can take inspiration from this project > https://github.com/probil/vue-socket.io-extended/tree/master/types

[2020-05-31 00:47] RealRobin-com commented on #27
We can submit a PR

[2020-06-01 08:01] #27 closed

[2020-06-19 16:12] prem-prakash commented on #8
In my use case, I have a class responsible for authentication. I would like to connect and disconnect from actioncable when user sign in or sign out. Would it be possible to import actioncable same way I can do with an Vuex Store?

[2020-06-20 17:26] mclintprojects commented on #8
@prem-prakash I'll look into this and get back to you as soon as I can.

[2020-06-24 20:17] mclintprojects commented on #8
@prem-prakash Kindly use this [build](https://github.com/mclintprojects/actioncable-vue/blob/vuex-support/dist/actioncablevue.js) directly in your project and let me know if it works for your use-case.

[2020-07-06 03:33] #8 closed

[2020-07-20 12:47] afuno opened #31 "Why are the connections duplicated?"
Rails 6.0.3.2
@rails/actioncable 6.0.3
@types/actioncable 5.2.3
actioncable-vue 2.3.0

---

I have some list. Each item in this list is wrapped in a component. Inside this component I have a subscription to the channel.

[code]

There are two items in the list. So there are two components within which the subscription takes place.

If we look at the server logs, we will see these two subscriptions

[2020-07-23 18:25] mclintprojects commented on #31
@afuno Is this happening only locally? I think the issue is from Vue hot reloads. I'll add a fix that should prevent this duplication.

[2020-07-23 18:28] afuno commented on #31
@mclintprojects No, the server has this problem too. I have a list (<100). In the console I see 9801. But everything is fine on the server.

[2020-07-23 18:57] mclintprojects commented on #31
@afuno This issue is definitely because of hot-reloading. Take a look at [this](https://github.com/vuejs/vue/issues/6518#issuecomment-470682512). Because of it, each time Vue hot-reloads n subscriptions will be duplicated because the destroy hook is out-of-wack and my clean-up doesn't happen. The fix is to refresh the page.

Also this won't happen in production because there's no hot-reload.

[2020-07-23 19:06] afuno commented on #31
@mclintprojects But this happens in production. My example about 99 elements and 100 elements is described from production.

[2020-07-23 19:11] mclintprojects commented on #31
I tried de-duplicating but the issue is from Vue. Refreshing the page seems to be the only thing that works.

Also by production I mean you build the app and run it. It still happens then?

[2020-07-23 19:15] afuno commented on #31
Refreshing the page does not help, because after refreshing the country, subscriptions occur again.

Yes, of course, building and running the application.

[2020-07-23 19:26] mclintprojects commented on #31
At this point I have to see what's happening for myself. Let me know when we can hop on Zoom call.

[2020-07-23 20:24] mclintprojects commented on #31
@afuno I just published what I think is a patch for it. Try v2.3.1 and let me know how it goes.

[2020-07-25 13:25] #31 closed

[2020-07-26 11:56] afuno commented on #31
@mclintprojects I have tested version 2.3.2 in production. Nothing has changed on this issue. All the same 10000 logs (100 * 100).

[2020-07-26 11:58] mclintprojects commented on #31
At this point I'll have to take a look at your code. I've fixed the duplication on my end so this is probably from yours.

[2020-07-26 12:02] afuno commented on #31
Can we go to email (which is in your profile.) for this?

[2020-07-27 05:30] mclintprojects commented on #31
@afuno Yes, kindly email me.

[2020-08-01 11:37] afuno commented on #31
@mclintprojects I moved the subscription to the channel from each list item component to the root list component. This fixed the problem with "multiplying" subscriptions on the JS side. Thank you.

[2020-09-22 14:08] prem-prakash opened #32 "Instructions on testing"
@mclintprojects could you please provide an example on how to write a Jest (or similar) test for a component using your lib?

[2020-09-23 17:10] DenniJensen opened #33 "A plugin must either be a function or an object with an "install" function"
**Describe the bug**
I am not able to install the plugin. I receive a warning on the vue console in my browser.
`[Vue warn]: A plugin must either be a function or an object with an "install" function.`

**To Reproduce**
### This is my `main.js`
[code]

**Expected behaviour**
I would expect that `$cable` is ready to use in my components.

**Screenshots**

### This is a screenshot from the browser c

[2020-09-29 10:36] laurentmahieu opened #34 "TypeError : cannot read property 'received' of undefined"
TypeError : cannot read property 'received' of undefined

**Expected behaviour**
Hi, I join the project recently. We are using actioncable-vue, we received message. Everything seems to be ok.
But in our sentry we get an error ( screenshot. ).

According to Sentry, the problem should come from `node_modules/actioncable-vue/dist/actioncablevue.js`.
Someone got this problem?
someone could explain, wh

[2020-10-10 05:24] mclintprojects commented on #33
@DenniJensen This plugin currently only supports Vue 2.0. I'll look into adding Vue 3.0 support as soon as I can.

[2020-10-27 01:46] kairos0ne opened #35 "Issue on ios using capacitor"
I'm experiencing an issue on ios deployed with capacitor.

The app connects great through all the browsers but not when I deploy on ios with capacitor. Oddly it works fine with android on google play.

I was wondering if you had any thoughts on that.

[2020-10-29 17:18] andrescastillodf opened #36 "vue 3 - Uncaught TypeError: Cannot set property '$cable' of undefined"
I am trying to add actioncable-vue to vue 3 but I get "Uncaught TypeError: Cannot set property '$cable' of undefined"
My main.js file is something like:

`

import ActionCableVue from 'actioncable-vue';
const app = createApp(App).use(store).use(router).use(i18n);

app.use(ActionCableVue, {
  debug: true,
  debugLevel: 'error',
  connectionUrl: 'ws://localhost:3000/challenges', // or function which

[2020-11-03 07:51] mclintprojects commented on #36
This library currently only works with Vue 2.x. I'll spend this weekend looking into adding Vue 3 support.

[2020-11-03 07:52] mclintprojects commented on #35
Hmm. I have no idea what might be going wrong here. Does it at least throw an error?

[2020-11-03 07:57] mclintprojects commented on #34
That error looks like it's trying to find a subscription so it can call the `received` callback on it but in your case, the subscription doesn't seem to exist.

Kindly share code snippets of your `channels` object and you subscribing and I just might be able to spot the problem.

[2020-11-03 08:02] mclintprojects commented on #32
I'm sorry but I think this is out of my scope. You can take a look at my [tests](https://github.com/mclintprojects/actioncable-vue/tree/master/tests), maybe it'll be helpful for your use-case.

[2020-11-03 08:02] #32 closed

[2020-11-03 09:42] laurentmahieu commented on #34
Thank you !
I have several more or less complex channels, I don't know which one is problematic.
here is an example of a simple:
`channels: {
    RoomChannel: {
      connected() {},
      rejected() {},
      received(data) {
        if (data.hasOwnProperty("content")) {
          this.messages.push(data);
          this.scollToBottom();
        }
      },
      disconnected() {}
    }
  },`

 An

[2020-11-05 21:19] kairos0ne commented on #35
No actually looking into with my team and will get back to you after we debug a little more.

[2020-11-07 19:56] mclintprojects commented on #34
I think you should look through your subscriptions. You seem to be making at least one incorrect subscription.

[2020-11-07 19:56] #34 closed

[2020-11-07 20:31] mclintprojects commented on #36
Seems like I can't make the library work with both Vue 2.x and Vue 3. Closing this now.

[2020-11-07 20:31] #36 closed

[2020-11-07 20:34] mclintprojects commented on #33
@DenniJensen I think I just realized the issue here. You're doing `import { ActionCableVue } from 'actioncable-vue' instead of `import ActionCableVue from 'actioncable-vue'`. Let me know if that fixes it.

[2020-11-08 18:13] kairos0ne commented on #35
I've been looking into this issue and it looks like its failing to upgrade to WebSocket:

![image](https://user-images.githubusercontent.com/15980261/98475686-c3bf6c00-21ed-11eb-8e20-a5ddcc1e3b8a.png)

![image](https://user-images.githubusercontent.com/15980261/98475916-d5a10f00-21ed-11eb-8807-c02d1b5cdcf6.png)

[2020-11-08 18:19] kairos0ne commented on #35
Looks like its forgery protection server side - I think this can be closed thanks.

[2020-11-08 18:19] #35 closed

[2020-11-17 13:27] vokshirg commented on #21
"actioncable-vue": "^2.3.2",
**this** is undefined

[2020-11-19 08:08] docming commented on #33
hei,guy,do you resovle it?when I use vue3 and import a ui ,it occurs

[2020-12-18 16:22] x8BitRain commented on #36
If you're having trouble getting it to work on both versions, can you please make a branch where this only works on Vue 3? I'd like to help and see if I can get it working on both @mclintprojects

[2020-12-30 23:05] mclintprojects commented on #33
@docming @DenniJensen @timmaier Vue 3 support just went live thanks to #37. Kindly update to actioncable-vue 2.4.0.

[2020-12-31 08:12] #33 closed

[2020-12-31 08:14] mclintprojects commented on #36
@andrescastillodf Vue 3.x support has been added now thanks to #37. Kindly update to `actioncable-vue v2.4.0`

[2021-01-03 19:59] andresespinosapc opened #38 "Access component's methods"
**Is your feature request related to a problem? Please describe.**
I want to use methods from the component inside the channel events, such as the `connected` event, but it says that `this` is undefined.

**Describe the solution you'd like**
Be able to access my component's methods.

**Describe alternatives you've considered**
I haven't come up to anything yet.

[2021-01-03 20:08] andresespinosapc commented on #38
Sorry, I was using the notation `connected: async () =>` instead of `async connected()`, because it worked with official version of ActionCable, but it's all good ;)

[2021-01-03 20:08] #38 closed

[2021-02-18 00:47] elDub opened #40 "unsubscribe on component destruction no longer works under Vue 2.x"
**Describe the bug**
When the [lifecycle hooks were modified](https://github.com/mclintprojects/actioncable-vue/commit/d1f2722f7f12d778de0fcef30a4c95d860fd3eb7) for Vue 3.x, channels are no longer unsubscribed on component destruction.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install under Vue 2.x with debugging fully on
2. Add a channel to a component that gets created and destroyed

[2021-02-21 15:59] mclintprojects commented on #40
@elDub Fixing this now.

[2021-02-21 16:10] mclintprojects commented on #40
@elDub Fixed. Kindly update to v2.4.2

[2021-02-21 16:10] #40 closed

[2021-03-06 11:56] ilrock opened #41 "Object.entries is not a function"
**Describe the bug**
For some users the library errors out throwing `Object.entries is not a function`. At first I thought this was an issue with IE as `Object.entries` does not work on IE, however, since plugging in AppSignal I've seen that the user agent is not matching IE.

**To Reproduce**
I wasn't able to reproduce the error on my own

**Expected behaviour**
No errors being thrown

**Screensh

[2021-03-07 07:54] mclintprojects commented on #41
@ilrock Kindly create the PR. I'll review, merge and publish a new version.

[2021-03-07 13:38] ilrock commented on #41
Thanks @mclintprojects!

Just created a [PR](https://github.com/mclintprojects/actioncable-vue/pull/42) - I haven't found any contribution guide so I hope the structure I used works for you.

If it doesn't let me know and I'll make the necessary changes.

[2021-03-08 08:15] mclintprojects commented on #41
@ilrock Thanks for the PR. I've merged and published `v2.4.3`.

[2021-03-08 08:15] #41 closed

[2021-03-12 12:54] lokkirill opened #45 "Can't force connectionUrl recalculation after disconnect - old token value used as query param"
**Describe the bug**
We use `jwt` token as query param - `ws://localhost:3031/cable?Auth=${token}`.
Connection and subscription to `NotificationChannel` start while component (visible if user logged in) creation in `connectChannel` function:
[code]
This component destroys at user logout:
[code]
So after next login (new token value in store) we see old token value in `connectionUrl`.
We tried to se

[2021-03-12 12:56] kmikhaltsevich commented on #45
@lokkirill +1

[2021-03-14 15:19] mclintprojects commented on #45
@lokkirill @kmikhaltsevich I just published a patch (v2.4.5) that fixes this bug. Kindly update and let me know if it fixes your issue.

[2021-03-15 07:54] kmikhaltsevich commented on #45
@mclintprojects Hello
After disconnecting with `this.$cable.unsubscribe('ChatChannel')` or `this.$cable.connection.disconnect()` or when these two methods are used together during a user's logout and next authorization of a new user with a new token , the connection still works with the old token

obviously solved by page reload :))

[![image-2021-03-15-10-38-29.png](https://i.postimg.cc/zBypLMtS/

[2021-03-15 07:57] mclintprojects commented on #45
@kmikhaltsevich Can I see your code? I want to confirm that you're manually connecting with the new code too.

[2021-03-15 08:04] kmikhaltsevich commented on #45
@mclintprojects

**Notifications component:**

[code]

**actioncable-vue.js** plugins file
[code]

[2021-03-15 08:09] kmikhaltsevich commented on #45
this.token === token assigned during authorization. it is being updated. accordingly `${ process.env.WEBSOCKET_HOST }?Auth=${ this.token }` is correct

[2021-03-15 08:10] mclintprojects commented on #45
@kmikhaltsevich Is `this.token` set to the new token before your call to setup the action cable connection in `mounted`?

[2021-03-15 08:12] kmikhaltsevich commented on #45
@mclintprojects Yes all right

[2021-03-15 08:16] mclintprojects commented on #45
I just realized that I never asked this. Are you saying the bug still exists on V2.4.5 or it's been fixed?

[2021-03-15 08:20] kmikhaltsevich commented on #45
@mclintprojects
yes there is an error.
maybe i'm making a mistake while creating a new connection?

[2021-03-15 08:34] mclintprojects commented on #45
@kmikhaltsevich Kindly update to v2.4.6 and try again. I think it fixes it.

[2021-03-15 09:02] kmikhaltsevich commented on #45
@mclintprojects
Problem still exists. a little later I will try to initialize a bug on a new / clean project

[2021-03-25 14:57] jnarowski opened #47 "Can't get received to work"
First off, thanks for the awesome project! I cannot get data broadcasted from rails to show up on the Vue side no matter what I do!

**Describe the bug**
I am not seeing received show up in console. I've tried every combination. Sending a message works and the channel successfully connects.

channels/chat_channel.rb

[code]

my vue file

[code]

In the web console

[code]

To broadcast

```ActionC

[2021-03-29 21:59] pdxmeghan commented on #47
@jnarowski - Interesting. I just started using this last week and also did not get `#receive` to output anything from the Channel itself, but it did hit the `connected` in the Vue component. I had assumed then that perhaps `receive` wouldn't get hit, but I perhaps assumed wrongly. connect/connected both got hit for me, so it would be assumed that receive/received would also both get hit.

[2021-03-30 07:41] mclintprojects commented on #47
Hey @jnarowski, @pdxmeghan I'm unable to reproduce this bug. Kindly confirm that your ActionCable server is configured correctly.

This is my ActionCable server code
[code]

And this is my JS code
[code]

And this is the result (received working correctly): https://share.getcloudapp.com/WnuYKdJD

[2021-04-01 00:09] Trimakas opened #48 "How to receive data in my Vuex store"
Hi,
Lovely plugin! Works fantastic, just lost with how to receive data back in my Vuex store. Any insight is much appreciated!

[2021-04-01 02:37] #47 closed

[2021-04-16 19:53] jnarowski commented on #47
I found out that action cable sends via some weird internal test for development. I changed the adapter to redis and it went through. Was a config error on my part, but def not obvious.

You might want to mention if you are using this library outside of rails, that you want to set your development cable adapter to redis.

development:
  adapter: redis

[2021-04-17 10:18] mclintprojects commented on #48
I don't think this is possible just yet. You'd have to receive data in the component and manually sent it into your store.

[2021-04-26 22:17] tjk opened #49 "vue 3 - channel callback contexts are broken due to relying on vm._uid"
With multiple subscribed channels mounted at the same time, the contexts object (and other stuff) which relies on `context._uid` clashes which causes binding issues and maybe other things.

This seems to work as a stopgap, wasn't sure the best approach in the library to use...

[code]

[2021-05-04 20:48] phlegx commented on #24
Hi! What about this strategy?

https://www.npmjs.com/package/actioncable-js-jwt

Looks promising! What do you think @mclintprojects @lennoximus?

[2021-05-05 20:47] phlegx opened #51 "After import actioncable-vue: ReferenceError: self is not defined"
**Describe the bug**
I use a SSR environment (not Nuxt). If I import actioncable-vue I get this error: `ReferenceError: self is not defined`

**To Reproduce**
Steps to reproduce the behaviour:
1. Follow install instructions from actioncable-vue.

**Expected behaviour**
I'm not able to conditionally import actioncable-vue (e.g. only for the client).

**Plugin version (please complete the following

[2021-05-14 13:05] ggraca commented on #51
I was running into the same issue with [vitejs](https://vitejs.dev/) and solved it by only calling `Vue.use(ActionCableVue, actionCableConfigs)` from the client entry point `enty-client.js` instead of in `app.js`.

I don't know uvue very well, check if you can do something similar there.

Not sure if this should or can be handled by the plugin itself, I'll let the maintainers answer that.

[2021-08-25 15:57] mammad2c commented on #45
Hi, I created a pr #58  to fix this issue.

[2021-11-11 13:18] cedric5 opened #61 "Unable to access component methods or data"
**Describe the bug**
I'm trying to call a method within my component  when ever I receive a websocket call.

However method or data calls within one of the channel methods (connected, received etc.) will throw an error.

How do I access my the data and methods of my component?

**To Reproduce**
Like the documentation I have declared my channel like this in the component.
[code]
[code]

**Expected

[2021-12-22 22:24] cedric5 commented on #61
Still experiencing this issue.
Is this project still maintained?

[2021-12-28 11:39] x8BitRain commented on #61
Where is `this.fetchCandidates()` located within the file? Can you please post a the full component or link a repo?

[2021-12-29 20:45] #48 closed

[2021-12-29 20:45] mclintprojects commented on #49
This is happening in Vue 3.x, yes? @tjk

[2021-12-29 22:16] tjk commented on #49
Yes, discovered this when I worked on a vue 3 migration. We've since started using `@rails/actioncable` directly so I can't say whether this is still the case, sorry. Feel free to close! (although given someone hearted the issue there is a chance it is affecting others?)

[2022-01-11 06:55] PatrykDubinski opened #62 "Vue 2.6.12, Rails 6.02, subscribing loop"
Hello

I'm using Vue 2.6.12 with Rails 6.02 and when i try to subscribe to ActionCable all i get is "welcome message" and then it starts subscribing loop and keeps connecting and disconnecting from websocket. After couple of minutes there are many "/cable" finished request instead of couple listening/pending. This bug happens on actioncable-vue@2.5.1 but i figured that it's working on version 2.4.

[2022-01-12 17:40] cedric5 commented on #61
A while ago I changed something that resolved this issue, I could not pinpoint what it was.
But today I fell upon the same issue again and cant figure it out what is wrong exactly

So now I have a component where everything is working as expected:
[code]
And the other component that I was working on today where I am experiencing the same issue as described before.
[code]
I have tried recompiling m

[2022-01-12 21:42] cedric5 commented on #61
After some hours of debugging I found the following:

I made a simple test component named `Test` without all the clutter.

[code]

I have a page where I initialize this component

[code]

Whener I use a v-for to decide to render the component it all works as expected.
How ever if I remove the v-for the above mentioned errors appear.

`test(v-if="selectedConversation")` **works**
`test()` **does n

[2022-02-20 08:47] mammad2c commented on #62
Hi,
can you provide your codes to detect what happens exactly?

[2022-09-04 07:37] Sylor-huang opened #66 "Vue3 setup how to define channels?"
Hi, guys

I use vue `3.2.25` and rails `7.0`.

I had successed subscribe channel， but it can't `console.log` when it's connected. I used `vue3 setup`.

- [ ] vue code

[code]

- [x] rails log display subscription is success

[code]

**In browser console, I can not get `console.log('connected')` and also can not console `received()` log. I think maybe I used setup in vue, so `channels` can not use

[2022-09-13 15:16] pribadi1st opened #67 "Connect action cable manually"
Hi, i am new to actioncable, so i want to connect to rails server using actioncable-vue but not instantly,
so user has to open 1 specific page to initiate the connection

i am trying follow the documentation which is
`methods() {
  connectServer() {
      // You can optionally pass in a connection URL string
      // You can optionally pass in a function that returns a connection URL
      // You

[2022-10-04 06:22] Davidzhu001 commented on #66
same questions

[2022-10-17 05:44] Winters0727 commented on #66
This is not an ideal solution, but I hope this may works.

It looks like actioncable-vue doesn't register channels in composition API, so you have to do it manually.

[code]

[2022-11-24 10:59] hassam-saeed opened #70 "How to stop auto unsubscription when component unmounted?"
I want to override the auto unsubscription for a channel when the component unmounts.
What should I need to do?